/* resets */
p { 
    margin: 0;
    padding: 0;
}

/* control bar */
#control-bar {
    height: 70px;
    position: relative;
    background-color: #FFEED3;
    padding: 5px;
    border-bottom: 1px solid black;
    min-width: 1300px;
}

#control-bar * {font-size: 12px;}

#disclaimer-control {
    position: absolute;
    bottom: 5px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

#disclaimer {
    position: absolute;
    top: 78px;
    border: 1px solid black;
    background-color: white;
    z-index: 100;
    text-align: justify;
    width: 400px;
    display: none;
}

.control-column {
    float: left;
    height: 100%;
}

.control-header {
    font-weight: bold;
}

#title-credits {
    width: 170px;
}

#expand-nav {
    display: inline-block;
    margin-left: 10px;
}

#best-path-search {
    width: 290px;
}

#path-controls {
    position: relative;
}

#path-controls .toggle-label {
    display: inline-block;
}

#path-controls .toggle-button {
    vertical-align: middle;
}

#legend {
    position: absolute;
    right: 0;
    width: 470px;
}

#legend .media {
    margin-top: 0px;
    margin-bottom: 7px;
    margin-right: 8px;
}

#timestamp {
    position: absolute;
    top: 78px;
    right: 4px;
    z-index: 100;
    display: none;
}

.timestamp-text {
    font-size: 10px !important;
    text-shadow: 1px 1px 0px #fff;
    font-style: italic;
    text-align: right;
}

/* inline down arrow for control bar */
.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid blue;
}

